body
{
background: url("Retro-fond.jpg");
background-size: cover;
cursor: url('gam1500.cur'), pointer;
}

h1
{
font-family: Tetris, sans-serif;
font-size: 4vw;
color: white;
margin-left: 15vw;
}

p
{
font-family: Roboto, sans-serif;
text-align: justify;
color: white;
margin-left: 15vw;
}

form
{
cursor: url('gam1500.cur'), pointer;
}

label
{
font-family: Roboto, sans-serif;
text-align: justify;
color: white;
}

legend
{
font-family: Roboto, sans-serif;
text-align: justify;
color: white;
margin-left: 15vw;
}

.class
{
margin-left: 15vw;
}


@font-face 
{
font-family: "Tetris";
src: url('Tetris.ttf');
}

@font-face 
{
font-family: "Roboto";
src: url('Roboto-Thin.ttf');
}