html
{
height: 100%;
}

body
{
height: 100%;
background: url("Retro-fond.jpg") repeat-y fixed;
background-size: cover;
cursor: url('gam1500.cur'), pointer;
}

h1
{
font-family: Tetris, sans-serif;
font-size: 4vw;
text-align: center;
color: white;
margin-left: 15vw;
margin-right: 15vw
}

p
{
font-family: Roboto, sans-serif;
text-align: justify;
color: white;
margin-left: 15vw;
margin-right: 15vw;
line-height: 4vmin;
}

video
{
height: 80vmin;
margin-left: 15vw;
margin-right: 15vw;
}

a
{
cursor: url('gam1501.cur'), pointer;
color: orange;
}

img
{
height: 30vmax;
margin-left: 15vw;
margin-right: 15vw;
}

.petit
{
text-align: center;
align: bottom;
color: white;
font-size: 0.8vw;
text-decoration: underline;
}

@font-face 
{
font-family: "Tetris";
src: url('Tetris.ttf');
}

@font-face 
{
font-family: "Roboto";
src: url('Roboto-Thin.ttf');
}
