body
{
background: url("Retro-fond.jpg");
background-size: cover;
cursor: url('normal.cur'), pointer;
}

h1
{
font-family: Tetris, sans-serif;
font-size: 4vw;
text-align: center;
color: white;
margin-left: 15vw;
margin-right: 15vw
}

p
{
font-family: trebuchet, helvetica, sans-serif;
text-align: justify;
color: white;
margin-left: 15vw;
margin-right: 15vw;
}

video
{
height: 80vmin;
margin-left: 15vw;
margin-right: 15vw;
cursor: url('link.cur'), pointer;
}

a
{
cursor: url('link.cur'), pointer;
}

@font-face {
    font-family: "Tetris";
    src: url('Tetris.ttf');